.custom-scrollbar {
    position: relative;
    overflow: auto;
    width: 1500px;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-bordered {
    text-align: left;
}
th{
    background-color: darkslategray;
    color: white;
    font-size: 10px;
}

