{% extends 'application/main_layout_application.html' %}
{% load static %}

{% block page_title %}
    Change password done
{% endblock %}

{% block page_name %}
    Change password done
{% endblock %}

{% block home %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'account/css/change_password_done.css' %}">
    <h2 style="margin-left: 15rem">Change Password Done</h2>
    <div class="form-group mb-3 container">
        <h5>The password has been successfully changed.</h5>
    </div>

{% endblock %}