{% extends 'account/main_layout_account.html' %}

{% block page_title %}
    Enter new password
{% endblock %}

{% block page_name %}
    Enter new password
{% endblock %}

{% block form %}
    <form method="POST" action="">
         {% csrf_token %}
        <div class="form-group mb-3">
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>
        <div class="form-group mb-3">
            <input type="password" name="new_password1" placeholder="New password" class="form-control"
                       required="true">
        </div>
        <div class="form-group mb-3">
             <input type="password" name="new_password2" placeholder="Confirm password" class="form-control"
                       required="true">
        </div>

        <input class="btn btn-success btn-block" type="submit" value="Update">
    </form>
{% endblock %}