{% extends 'account/main_layout_account.html' %}

{% block page_title %}
    Password reset complete
{% endblock %}

{% block page_name %}
    Password reset complete
{% endblock %}

{% block form %}
        <div class="form-group mb-3">
            <p><b>Your password has been set. You may go ahead and log in now.</b></p>
        </div>
{% endblock %}
{% block action %}
        <form action="{% url 'login' %}" method="GET">
                <button class="btn btn-success btn-md btn-block" type="submit">Log In</button>
        </form>
{% endblock %}


