<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>
            {% block page_title %}
            {% endblock %}
        </title>
        {% block import %}
        {% endblock %}
    </head>

    <body>
        <header>
            {% block page_header %}
            {% endblock %}
        </header>

        <section>
          <nav>
              {% block page_nav %}
              {% endblock %}
          </nav>
          <article>
              {% block page_article %}
              {% endblock %}
          </article>
        </section>

        <footer>
            {% block page_footer %}
            {% endblock %}
        </footer>
    </body>
</html>