{% extends 'application/main_layout_application.html' %}
{% load static %}
{% block home %}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'application/css/account.css' %}">
    <div style="margin-left: 15rem">
        <h1>Account</h1>
        <div class="box1">
            <b>User information:</b>
            <ul>
                <li>Username: <b>{{ user.username }}</b></li> <br>
                <li>Email: <b>{{ user.email }}</b></li> <br>
                <li>First name: <b>{{ user.first_name }}</b></li> <br>
                <li>Last name: <b>{{ user.last_name }}</b></li> <br>
            </ul>
        </div>
        <br>
        <div class="box2">
            Do you want to change the password?
            <a href="{% url 'change_password' %}">Click here</a>
        </div>
    </div>
{% endblock %}