{% extends 'main_layout.html' %}
{% load static %}

{% block import %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block script %}
    {% endblock %}
{% endblock %}

{% block page_title %}
    Home
{% endblock %}


{% block page_nav %}
    <link rel="stylesheet" href="{% static 'application/css/main_layout_application.css' %}">
    <div class="side-bar">
        <ul class="features-list">
            <li class="features-item">
                <i class="fa fa-car "></i>
                <span class="features-item-text">Hi, {{ user.username }} </span>
            </li>
            <li class="features-item">
                <a href="{% url 'home' %}">
                    <i class="fa fa-home features-item-icon"></i>
                    <span class="features-item-text"> Home </span>
                </a>
            </li>
            <li class="features-item">
                <a href="{% url 'account' %}">
                    <i class="fa fa-user features-item-icon"></i>
                    <span class="features-item-text"> Account </span>
                </a>
            </li>
            {% if 'client' in user_groups %}
                <li class="features-item">
                    <a href="{% url 'offers' %}">
                        <i class="fa fa-list features-item-icon"></i>
                        <span class="features-item-text">Offers</span>
                    </a>
                </li>
            {% endif %}
            {% if 'transportator' in user_groups %}
                <li class="features-item">
                    <a href="{% url 'create_offer' %}">
                        <i class="fa fa-plus features-item-icon"></i>
                        <span class="features-item-text"> Create offer </span>
                    </a>
                </li>
            {% endif %}
            {% if 'transportator' in user_groups %}
                <li class="features-item">
                    <a href="{% url 'requests' %}">
                        <i class="fa fa-list-alt features-item-icon"></i>
                        <span class="features-item-text">Requests</span>
                    </a>
                </li>
            {% endif %}
            {% if 'client' in user_groups %}
                <li class="features-item">
                    <a href="{% url 'create_request' %}">
                        <i class="fa fa-address-card features-item-icon"></i>
                        <span class="features-item-text">Create request </span>
                    </a>
                </li>
            {% endif %}
            {% if 'admin' not in user_groups %}
                <li class="features-item">
                    <a href="{% url 'trucks' %}">
                        <i class="fa fa-truck features-item-icon"></i>
                        <span class="features-item-text"> Trucks </span>
                    </a>
                </li>
            {% endif %}
            {% if 'transporter' in user_groups or 'client' in user_groups %}
                <li class="features-item">
                    <a href="{% url 'contracts' %}">
                        <i class="fa fa-file features-item-icon"></i>
                        <span class="features-item-text"> Contracts </span>
                    </a>
                </li>
            {% endif %}
            {% if 'admin'  in user_groups %}
                <li class="features-item">
                    <a href="{% url 'admin' %}">
                        <i class="fa fa-lock features-item-icon"></i>
                        <span class="features-item-text"> Administration </span>
                    </a>
                </li>
            {% endif %}
            <li class="features-item">
                <form action="{% url 'logout' %}">
                    <button class="btn">
                        <i class="fa fa-sign-out"></i>
                        <span class="features-item-text"> Log out</span>
                    </button>
                </form>
            </li>
        </ul>

        <p style="margin-top: 250%; color: #5a5a5a">&copy; 2022 Transport Platform Ltd. </p>
    </div>


{% endblock %}

{% block page_article %}
    <div>
        {% block home %}
            <link rel="stylesheet" href="{% static 'application/css/home.css' %}">
            <div class="content">
                <h1>Home</h1>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>
{% endblock %}